@font-face {
    font-family: chikenskratch;
    src: url(../../fonts/chikenskratch.woff);
}


body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: chikenskratch;
}

a, 
a:hover {
    color: #FFF;
    text-decoration: none;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

input[type="text"],
input[type="submit"] {
    background: #3E4A4E;
    width: 100%;
    color: #FFF;
    height: 42px;
    border: none;
    padding: 10px;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="submit"]:disabled {
    background: #DDD;
    cursor: not-allowed;
}

label {
    text-align: left;
    display: block;
}

small {
    color: #3E4A4E;
}

#wrapper {
    padding: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} 

#social a {
    padding: 10px;
}

.scratches {
    background: url(../../images/scratches.svg) no-repeat;
    height: 100%;
    width: 300px;
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
}

.fab {
    color: #FFF;
    font-size: 48px;
}

.space-s {
    margin-top: 15px;
}

.space-m {
    margin-top: 30px;
}

.space-l {
    margin-top: 60px;
}

.space-xl {
    margin-top: 90px;
}

.space-xxl {
    margin-top: 180px;
    margin-bottom: 30px;
}

.spin:hover {
    animation: spin 6s infinite;
    animation-direction: alternate;
    -webkit-animation-name: spin;
    animation-name: spin;
}

.pulse:hover {
    animation: pulse 3s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@media (max-width: 768px) {
    img {
      max-width: 50%;
    }

    .scratches {
        display: none;
    }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }